<ion-content scroll="false" style="display:table;">

  <section class="home-container">
    <!-- <div class="row icon-row-top">

      <div class="col text-center">
        <a class="button button-positive square-button news-tile-back" href="#/app/news"><img src="img/01.png" width="25%"/><br/>News</a>
      </div>


      <div class="col text-center ov-col">
        <a class="button button-positive square-button coupons-tile-back" href="#/app/coupons"><img src="img/02.png" width="25%"/><br/>Coupons</a>
      </div>

    </div> -->

    <div class="row icon-row-bottom">
<!-- 
      <div class="col text-center ov-col">
        <a href="#/app/events" class="button button-positive square-button events-tile-back"><img src="img/03.png" width="25%"/><br/>Events</a>
      </div> -->


      <div class="col text-center ov-col">
        <a href="#/app/news" class="button button-positive square-button-num impnos-tile-back"><img src="img/01.png" style="width: 30%" /><br/><span style="    font-size: 3em !important;">News</span></a>
      </div>

    </div>

  </section>

</ion-content>
