<ion-view view-title="About Us">
<!-- <ion-nav-buttons side="right">
<a href="" class="button button-icon icon ion-android-share" ng-click="share(newsdetails.title, newsdetails.short_desc)"></a>
</ion-nav-buttons> -->
 <ion-content>
  <div class="about-content">
    <div class="about-logo"><img src="img/our-vadodara-small.png" alt="Our Vadodara" /></div>
    <div class="about">
      <p>We love Vadodara as much as you do!</p>
      <p><span onclick="openFB()" >facebook.com/ourvadodara</span></p>
      <p>info@ourvadodara.com</p>
    </div>
    <div class="about about-footer">
      <p>Built with <i class="ion-heart"></i> by Actonate.com</p>
      <p>Version 2.0</p>
    </div>
  </div>
 </ion-content>
</ion-view>
