<ion-view view-title="">
<ion-nav-buttons side="right">
<a href="" ng-if="loaded" class="button button-icon icon ion-android-share" ng-click="share(newsdetails.title)"></a>
</ion-nav-buttons>
 <ion-content>
    <ion-list ng-if="loaded">
    <div class="item item-body heading_detail">
      <h2>{{newsdetails.title}}</h2>
      <p> <!-- <span>{{ newsdetails.published_date | amDateFormat:'dddd, MMMM D, YYYY, h:mm a'}}</span> --></p>
    </div>
      <div class="item item-body">
       <img ng-src="{{app_url}}{{newsdetails.image}}" class="full-image">
    	</div>
    	<div class="item item-body">
    		<div class="eventdetails">
	    		<p ng-bind-html="newsdetails.content"></p>
    		</div>
        <p class="tags">{{ newsdetails.tags }}</p>
        </div>
    </ion-list>
    <div ng-if="!loaded" class="loading-news" ng-class="{ 'clear': error}">
      {{error_message}}
    </div>
  </ion-content>
</ion-view>
<ion-footer-bar align-title="left" style="height: 15%;" ng-if="show_footer">

    <ion-slide-box does-continue="true" auto-play="true"
        slide-interval="3000" show-pager="false"
     on-slide-changed="slideHasChanged($index)" ng-if="loaded" class="my-slide" style="width: 100%;">
      <ion-slide options="options" ng-repeat="ads in adList track by ads.id" slider="data.slider">
       
        <a href="{{ads.Advertisment.url}}" class="no_decoration " >
          <div class="">
          <!-- <h1>{{ads.Advertisment.title}}</h1> -->
            <img ng-src="{{app_url}}{{ads.Advertisment.image}}" class="full-image">
          </div>
        </a> 

      </ion-slide>

    </ion-slide-box>
    <p class="icon ion-close" ng-click="hide_footer()"></p>
</ion-footer-bar> 
