<ion-view view-title="{{cat_name}}" >
  <ion-nav-buttons side="right">
  <a href="" class="button button-icon icon ion-refresh" ng-click="refresh()"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
    <div ng-if="loaded" ng-repeat="news in newscatlist track by news.unique">
      <div class="list">
       <a href="#/app/newsDetails/{{news.app_table_name}}/{{news.id}}" class="no_decoration">
      <div class="item item-thumbnail-left thumbnail_list">
        <img ng-src="{{app_url}}{{news.image}}">
       <!-- <img ng-src="http://localhost/Projects/News/actonation{{news.image}}"> -->
        <div class="leftpadding">
        <h2>{{news.title}}</h2>
        <p>{{news.short_desc}}</p>
        <span class="date_font">{{ news.published_date | fromNow}}</span>
       </div>
      </div>
    </a>
    </div>
  </div>

  </ion-list>

    <div ng-if="!loaded" class="loading-news" ng-class="{ 'clear': error}">
      {{error_message}}
    </div>
    
<ion-infinite-scroll
      ng-if="!moredata"
      on-infinite="loadMore()"
      distance="1%">
  </ion-infinite-scroll>

    
  </ion-content>
</ion-view>
<ion-footer-bar align-title="left" style="height: 15%;" ng-if="show_footer">

    <ion-slide-box does-continue="true" auto-play="true"
        slide-interval="3000" show-pager="false"
     on-slide-changed="slideHasChanged($index)" ng-if="loaded" class="my-slide" style="width: 100%;">
      <ion-slide options="options" ng-repeat="ads in adList track by ads.id" slider="data.slider">
       
        <a href="{{ads.Advertisment.url}}" class="no_decoration " >
          <div class="">
          <!-- <h1>{{ads.Advertisment.title}}</h1> -->
            <img ng-src="{{app_url}}{{ads.Advertisment.image}}" class="full-image">
          </div>
        </a> 

      </ion-slide>

    </ion-slide-box>
    <p class="icon ion-close" ng-click="hide_footer()"></p>
</ion-footer-bar> 